/*Bootstrap new implementation*/
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #E9E9E9;
}

#body-separator{
    min-height: 100%;
}

header, footer {

    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    width: 100% !important;

}

main {
    margin-top: 80px;
    padding-bottom: 100px;

}

section {
    background-color: #ffffff;
    padding: 50px 6% 6% 6% !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;


    -webkit-box-shadow: -2px 4px 22px 9px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -2px 4px 22px 9px rgba(0, 0, 0, 0.51);
    box-shadow: -2px 4px 22px 9px rgba(0, 0, 0, 0.51);
}

footer{
    position: relative !important;
    margin-top: -51px !important;
    clear: both;
}

.container {
    min-width: 85%;
}

.navbar-text {
    margin-right: 0;
    margin-left: 0
}


.nav-icons {
    margin-right: 3px;
}

#nameUser{
    color: #9d9d9d;
    font-size: large;
    margin-right: 15px;
    margin-top: 4px;
}

.navbar-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
.icons {
    max-width: 39px !important;
    min-width: 39px !important;
    margin: 0;
}

#btn-home {

    justify-content: center;

    width: 80px;
}
.box{
    -webkit-box-shadow: -10px 10px 12px 0 rgba(0,0,0,0.51);
    -moz-box-shadow: -10px 10px 12px 0 rgba(0,0,0,0.51);
    box-shadow: -10px 10px 12px 0 rgba(0,0,0,0.51);
    border-radius: 10px;
    padding: 0;

    margin-top: 5%;

}
.box-tittle{
    padding-bottom: 2%;
    width: 100%;
    background-color: #222;
    color: #9d9d9d;
    text-align: center;
    margin-bottom: 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-box{
    margin: 0;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: left;
    background-color: #ffffff;

    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#rememberMe{
    margin-left: 2%;
}

#btn-register{
    padding-top: 3%;
    padding-bottom: 4% !important;
    text-align: right;
    margin: 0;
}

#btn-signin{
    padding-bottom: 4% !important;
    text-align: center;
    margin: 0;
}

.btn-menu{
    min-width: 35%;
    width: auto;
    background-color: whitesmoke;
}

#menu-separator{
    margin-top: 40px !important;
    margin-bottom: 3%;
    width: 50%;
    border-top: 1px black solid;
    display: inline-block;

}

.border-left{
    border-left: 1px black solid;
}

.border-right{
    border-right: 1px black solid;
}
.dropdown-menu{
    margin: 0 0 0 0 !important;
}
.dropdown-toggle{
    min-width: 100%;
    width: 100%;
}

#content{
    text-align: justify;
}

.commited-reserves{
    margin: 0 0 0 0;
}

.show-books{
    padding: 1% 1.5% 1% 1.5%;
}

.show-books div{

    float: left;
    border-radius: 7px;
    border: 1px #82a9ff solid;
    background-color: whitesmoke;
    padding: 1%;
}

.img-show-books{
    float: left;
    width: 25%;
    height: auto;
    border: none !important;
}

.img-show-books img{
    width: 100%;
    height: auto;
    border: none !important;
}

.data-show-books{
    float: left;
    width: 75%;
    padding: 2% !important;
    border: none !important;
}

.content-data-show-books{
    border: none !important;
    color: black !important;
}

.content-data-show-books h2{
    width: 100%;
    text-align: center;
    margin: 0 0 3% 0;
}

.content-data-show-books label{

    font-size: small;
}

.button-show-books{

    color: #ffffff;
    float: right;
}

.content-data-show-books a:hover{
    text-decoration: none;
}

#btn-category{
    float: left !important;
    margin: 0;
}
#btn-category button{
    font-weight: bold;
    color: black;

}

#options-books{

    padding: 1.5%;
    width: 100%;
}

#books-search{
    float: right;
    max-width: 15%;
    margin: 0;
}

#div-details-books{
    width: 100%;
    margin-top: 3%;
}
#img-details-books{
    float: left;
    width: 25%;
}

#img-details-books label, #img-details-books p{
    font-size: medium;
}

.details-img{
    width: 100%;
    margin-bottom: 5%;
}

#text-details-books{
    float: left;
    width: 75%;
    padding-left: 2%;
}

#text-details-books h1{
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
    font-size: 400%;
}
#options-reserves{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

#options-reserves button{
    margin: 2%;
}
#options-reserves a{
    margin: 2%;
}

#personalized-reserve{
    padding: 3%;
    text-align: center;
}

#personalized-reserve label{
    font-size: small;
}

#personalized-reserve form{
    margin-top: 3%;
}

#personalized-reserve form div{
    max-width: 30%;
}

#personalized-reserve form button{
    margin-top: 5%;
}

#start-date-reserve-personalized{
    float: left;
}

#finish-date-reserve-personalized{
    float: right;
}

.not-active{
    pointer-events: none;
    cursor: default;
    opacity: 0.65;
}

.container-form{
    text-align: center !important;
}

.content-form{
    width: 50%;
    margin: auto;
    padding: 0;
    float: none !important;
    clear: both !important;
}

.inputs-content-form{
    padding-bottom: 1px;
    border: solid black 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-form h2{
    font-weight: bold;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: black;
}

.btn-content-form{
    width: 100%;
    text-align: right !important;
    margin-top: 3%;
}

.btn-content-form button{
    margin-right: 3%;
}